---
import Popover from "./Popover.astro";

interface Props {
  location: string;
}

const { location } = Astro.props;
---

<Popover triggerClass="map-trigger" popoverClass="map-popover">
  <span slot="trigger" class="map-trigger underline cursor-pointer">
    📍 {location}
  </span>

  <div
    slot="content"
    class="map-popover absolute left-0 mt-2 w-80 p-2 border rounded shadow-lg hidden z-10 bg-[var(--bg)]"
  >
    <iframe
      src={`https://www.google.com/maps?q=${encodeURIComponent(location)}&output=embed`}
      class="w-full h-60"
      loading="lazy"
      allowfullscreen></iframe>
  </div>
</Popover>
